$background-color: #ffffff;
$axis-color: #707070;
$label-color: #707070;
$stroke-color-female: #f2f035;
$stroke-color-female-highlighted: #e0ca00;
$stroke-color-male: #90f200;
$stroke-color-male-highlighted: #09bf00;

.scatterplot {

	pointer-events: none;
	background-color: $background-color;

	.axis path,
	.axis line {
		fill: none;
		stroke: $axis-color;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}

	.axis text {
		fill: $axis-color;
	}

	circle {
		fill: rgba(0,0,0,0);
		stroke: #a9a9a9;
		stroke-width: 1px;
		z-index: 1;

		pointer-events: auto;

		// transition: all 1s ease;

		&.f {
			stroke: $stroke-color-female;
		}

		&.m {
			stroke: $stroke-color-male;
		}

		&.highlighted {
			stroke-width: 3px;
			z-index: 2;
			&.f {
				stroke: $stroke-color-female-highlighted;
				fill: rgba($stroke-color-female-highlighted, 0.25);
			}
			&.m {
				stroke: $stroke-color-male-highlighted;
				fill: rgba($stroke-color-male-highlighted, 0.25);
			}
		}
	}

	.selection-label {
		text {
			fill: $label-color;
		}
		tspan:nth-child(2) {
			font-size: smaller;
		}
	}

	.selection-line {
		stroke: $label-color;
		stroke-opacity: 0.5;
	}

}
