$background-color: #ffffff;
$sidebar-background-color: #f9f9f9;
$label-color: #707070;

/*
// blue & pink
$stroke-color-female: #F2B5DA;
$text-color-female: #E057C1;
$timespan-fill-female: $stroke-color-female;
$stroke-color-male: #90F2DF;
$text-color-male: #189EB2;
$timespan-fill-male: $stroke-color-male;
$timespan-fill-opacity: 0.5;
*/

// blue & peach
$stroke-color-female: #F2BBB5;
$text-color-female: #E0563F;
$timespan-fill-female: $text-color-female;
$stroke-color-male: #90F2DF;
$text-color-male: #189EB2;
$timespan-fill-male: $text-color-male;
$timespan-fill-opacity: 0.2;

/*
// mint & magenta
$stroke-color-female: #D4618E;
$text-color-female: #A65373;
$timespan-fill-female: $stroke-color-female;
$stroke-color-male: #79F2C1;
$text-color-male: #42A67E;
$timespan-fill-male: $stroke-color-male;
$timespan-fill-opacity: 0.5;
*/

$sidebar-padding: 1.25rem;
$sidebar-width: 16rem;
$font-family: "AllerLight", "Georgia", sans-serif;
$font-family-bold: "AllerBold", "Georgia", sans-serif;

#app {
	border-top: 1px solid rgba($label-color, 0.25);
}

#title-block {
	// fix the FOUC
	visibility: visible !important;

	margin: 5rem 0;
	font-family: "AllerLight", "Georgia", sans-serif;
	text-align: center;
	color: #707070;

	h1 {
		font-size: 3rem;
	}

	.title-body {
		width: 615px;
		margin: 0 auto;
		font-size: 1.25rem;
	}

	p {
		text-align: left;
	}
}


.top-names-scatterplot {
	display: flex;
	position: relative;
	height: 100%;

	color: $label-color;
	font-family: $font-family;

	.sidebar {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100vh;

		flex: 1 0 $sidebar-width;
		max-width: $sidebar-width;

		padding: $sidebar-padding;
		box-sizing: border-box;

		background-color: $sidebar-background-color;
	}

	//
	// copy
	//
	.copy {
		width: 100%;
		flex: 0 1 auto;
		margin-bottom: 1.5rem;
	}

	//
	// name lookup
	//
	.name-lookup {
		$input-padding: 1.5rem;

		width: 100%;
		flex: 0 0 3.5rem;

		div.awesomplete {
			position: absolute;
			width: calc(100% - #{2 * $sidebar-padding});
			left: $sidebar-padding;
			margin-bottom: 1rem;
		}

		input.awesomplete {
			position: relative;
			width: 100%;
			padding: 5%;
			box-sizing: border-box;
			border: 1px solid rgba($label-color, 0.25);

			border-left: none;
			border-right: none;

			font-size: 1.25rem;
			font-family: $font-family;
			color: $label-color;
			text-transform: capitalize;

			&:focus {
				top: -1px;
				border: 2px solid rgba($label-color, 0.5);
				border-left: none;
				border-right: none;
				outline: none;
			}

			$placeholder-font-size: 1.25rem;
			&::-webkit-input-placeholder {
				font-size: $placeholder-font-size;
			}
			&::-moz-placeholder {
				font-size: $placeholder-font-size;
			}
			&:-ms-input-placeholder {
				font-size: $placeholder-font-size;
			}
			&::placeholder {
				font-size: $placeholder-font-size;
			}
		}

		ul {
			border-radius: 0;
		}
		li {
			color: $label-color;
		}

		mark {
			.f & {
				color: $text-color-female;
				background-color: rgba($stroke-color-female, 0.2);
			}
			.m & {
				color: $text-color-male;
				background-color: rgba($stroke-color-male, 0.2);
			}
		}
		li:hover,
		li[aria-selected="true"] {
			&.f {
				color: $text-color-female;
				background-color: rgba($text-color-female, 0.2);
				mark {
					background-color: rgba($stroke-color-female, 0.6);
				}
			}
			&.m {
				color: $text-color-male;
				background-color: rgba($text-color-male, 0.2);
				mark {
					background-color: rgba($stroke-color-male, 0.6);
				}
			}
		}
	}

	//
	// popularity slider
	//
	.slider {
		position: relative;
		width: 100%;
		flex: 1 0.25;
		padding-left: 50%;
		box-sizing: border-box;

		svg {
			transform: translateX(-50%);
		}

		.axis {
			path {
				display: none;
			}
			line {
				fill: none;
				stroke: $label-color;
				stroke-width: 1px;
				shape-rendering: crispEdges;
			}
			text {
				fill: $label-color;
			}
		}

		.selection {
			stroke: $label-color;
			stroke-width: 1px;
			stroke-opacity: 0.75;
			fill: $background-color;
			fill-opacity: 0.5;
		}

		.label {
			position: absolute;
			bottom: 1.5rem;
			width: 100%;
			margin-left: -50%;
			text-align: center;
			font-size: 1.25rem;
		}
	}

	.slider-background {
		fill: rgba($label-color, 0.25);
	}

	.slider-background-grid {
		text {
			fill: $label-color;
			font-size: 1rem;
			font-family: $font-family;
		}

		> g:nth-of-type(2) text {
			transform: translateY(-0.5rem);
		}

		line,
		path {
			fill: none;
			stroke: $sidebar-background-color;
			shape-rendering: crispEdges;
		}
	}

	//
	// sex toggles
	//
	.toggles {
		flex: 0 0 auto;
		position: relative;
		width: 100%;

		.toggles-container {
			display: flex;
			justify-content: space-around;
		}

		$toggle-size: 4rem;
		.sex-toggle {
			display: inline-block;
			width: $toggle-size;
			height: $toggle-size;
			flex: 0 0 $toggle-size;
			box-sizing: border-box;

			text-align: center;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			border-radius: 50%;
			border-style: solid;
			border-width: 1px;
			cursor: pointer;

			&:first-of-type {
				margin-left: 1rem;
			}
			&:last-of-type {
				margin-right: 1rem;
			}

			&.f {
				font-weight: normal;
				color: $text-color-female;
				border-color: $stroke-color-female;
				background-color: rgba($text-color-female, 0.1);
			}
			&.m {
				font-weight: normal;
				color: $text-color-male;
				border-color: $stroke-color-male;
				background-color: rgba($text-color-male, 0.1);
			}
			&.on {
				border-width: 3px;
				span {
					top: $toggle-size / 2 - 0.9rem;
				}
				&.f {
					font-family: $font-family-bold;
					border-color: $stroke-color-female;
					background-color: rgba($text-color-female, 0.35);
				}
				&.m {
					font-family: $font-family-bold;
					border-color: $stroke-color-male;
					background-color: rgba($text-color-male, 0.35);
				}
			}

			&.disabled {
				cursor: not-allowed;
			}

			span {
				display: block;
				position: relative;
				top: $toggle-size / 2 - 0.7rem;
			}
		}

		.label {
			width: 100%;
			text-align: center;
			font-size: 1.25rem;
			margin-bottom: 1.25rem;
		}
	}

	//
	// legend
	//
	.legend {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		flex: 0 0 auto;//12rem;

		circle {
			fill: rgba($label-color, 0.1);
			stroke: rgba($label-color, 0.5);
			stroke-width: 1px;
		}

		text {
			transform: translateY(-1.1rem);
			fill: $label-color;
			text-anchor: middle;
			text-shadow: 0px 0px 8px rgba(255,255,255,0.75);
		}

		.label {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			font-size: 1.25rem;
		}
	}

	//
	// share icons
	//
	.share {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 100%;
		// height: 2.5rem;
		flex: 0 0 2.5rem;
		margin-top: 1rem;

		.share-icon {
			flex: 0 0 2.5rem;

			svg {
				fill: $label-color;
			}
		}

		.info-modal-button {
			flex: 0 0 2.5rem;
			width: 40px;
			height: 40px;

			background-color: $label-color;
			border-radius: 50%;

			div {
				padding-top: 0.15rem;
				color: $background-color;
				font-family: $font-family-bold;
				font-size: 2rem;
				text-align: center;

				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
	}

	.graph {
		position: relative;
		flex-grow: 1;
		height: 100%;

		background-color: $background-color;

		&.loading {
			height: 100vh;

			display: flex;
			justify-content: center;
			align-items: center;

			p {
				max-width: 30rem;
				color: $label-color;
				font-size: 3rem;
				text-align: center;

				/*
				display: none;
				opacity: 0;
				transition: opacity 1s;
				&.closing {
					display: block;
					opacity: 0;
				}
				&.active {
					display: block;
					opacity: 1;
					transition: opacity 1s;
				}
				*/
				/*
				&.active {
					opacity: 1;
					transition: opacity 1s, height 0s;
				}
				&.hidden {
					height: 0;
					opacity: 0;
					transition: opacity 1s, height 0s 1s;
				}*/
				display: none;
				opacity: 0;
				transition: opacity 1s;
				&.active {
					display: block;
					opacity: 0;
				}
				&.awake {
					display: block;
					opacity: 1;
				}
			}
		}

		svg {
			pointer-events: none;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: $label-color;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}

		.axis text {
			fill: $label-color;
			font-size: 1rem;
			font-family: $font-family;
		}

		.name {
			&.hover {
				opacity: 1.0;
				circle {
					stroke-width: 2px;
					fill-opacity: 0.35;
				}
				text {
					font-family: $font-family-bold;
				}
			}

			&.timespan circle {
				fill-opacity: 0.4 * $timespan-fill-opacity;
				stroke-opacity: 0.0;
				mix-blend-mode: darken;

				&.top-rank {
					stroke-opacity: 0.0;
					fill-opacity: $timespan-fill-opacity;
				}

				&.occurrence.highlighted-occurrence {
					stroke-opacity: 1.0;
					stroke-width: 2px;
					fill: $background-color;
					fill-opacity: 0.85;
				}

				&.f {
					stroke: $stroke-color-female;
					fill: $timespan-fill-female;
				}
				&.m {
					stroke: $stroke-color-male;
					fill: $timespan-fill-male;
				}
			}
			
			&.highlighted {
				circle {
					stroke-width: 3px;
					fill: $background-color;
					fill-opacity: 0.85;
				}

				text {
					font-family: $font-family-bold;
				}
			}

			&.f {
				stroke: $stroke-color-female;
				fill: $text-color-female;
			}

			&.m {
				stroke: $stroke-color-male;
				fill: $text-color-male;
			}

			&.not-highlighted {
				opacity: 0.5;
				&.f text {
					fill: darken($text-color-female, 20%);
				}
				&.m text {
					fill: darken($text-color-male, 20%);
				}
			}

			line {
				stroke-opacity: 1.0;
				stroke: #d9d9d9;
			}

			text {
				stroke: none;
				text-anchor: middle;
				font-weight: normal;

				pointer-events: auto;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				&::selection {
				    background: none;
				}
			}

			circle {
				fill-opacity: 0.1;
				stroke-width: 1px;

				pointer-events: auto;
				cursor: pointer;
			}
		}

		.selection-label {
			text {
				fill: $label-color;
			}
			tspan:nth-child(2) {
				font-size: smaller;
			}
		}

		.selection-line {
			stroke: $label-color;
			stroke-opacity: 0.5;
		}

		.year-tick {
			text {
				font-size: 1.16rem;
				font-family: $font-family;
				text-anchor: middle;
			}
		}
	}

	.timespan-tooltip {
		position: absolute;
		min-width: 10rem;
		min-height: 6rem;
		padding: 0.5rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: rgba($background-color, 0.9);
		// text-align: center;
		pointer-events: none;

		border-width: 2px;
		border-style: solid;
		border-radius: 8px;

		&.f {
			color: $text-color-female;
			border-color: $stroke-color-female;
			.count {
				border-color: rgba($stroke-color-female, 0.5);
			}
		}
		&.m {
			color: $text-color-male;
			border-color: $stroke-color-male;
			.count {
				border-color: rgba($stroke-color-male, 0.5);
			}
		}

		.top {
			width: 100%;
			height: 2rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		h4 {
			flex: 1 0 auto;
			margin: 0;
			font-weight: normal;
			font-size: 1.35rem;
			text-align: left;
		}
		.overall-rank {
			flex: 0 0 auto;
			margin-left: 1rem;
			line-height: 0.9rem;
			text-align: right;
			span {
				display: block;
				&:first-of-type {
					font-size: 1.25rem;
				}
				&:last-of-type {
					font-size: 0.5rem;
				}
			}
		}

		.bottom {
			width: 100%;
			height: 3rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.year-stats {
			flex: 0.2 1 4rem;
			text-align: center;
		}
		.count {
			padding-bottom: 0.25rem;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			span {
				display: block;
				&:first-of-type {
					font-size: 1rem;
				}
				&:last-of-type {
					font-size: 0.5rem;
				}
			}
		}
		.rank {
			padding-top: 0.25rem;
			font-size: 1rem;
		}
		.year {
			flex: 1 0 2.5rem;
			text-align: right;
			span {
				&:first-of-type {
					font-size: 0.5rem;
					margin-right: 0.25rem;
				}
				&:last-of-type {
					font-size: 1.25rem;
				}
			}
		}
	}

}

// 
// modal
//
#info-modal-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba($background-color, 0.5);

	&.visible {
		display: block !important;
	}
}

#info-modal {
	position: absolute;
	width: 50vw;
	height: 50vh;
	min-width: 320px;
	min-height: 560px;
	left: 25vw;
	bottom: 25vh;
	overflow-x: hidden;
	overflow-y: auto;

	border: 1px solid rgba($label-color, 0.25);
	background-color: rgba($background-color, 0.85);
	padding: 1rem 2.25rem;
	font-family: $font-family;

	li {
		padding: 0.25rem 0;
		list-style-type: circle;
	}
}
