$background-color: #ffffff;
$axis-color: #707070;
$label-color: #707070;
$stroke-color-female: #f2f035;
$text-color-female: #e0ca00;
$stroke-color-male: #90f200;
$text-color-male: #09bf00;

.top-names-scatterplot {

	display: flex;

	.sidebar {
		display: flex;
		flex-direction: column;

		flex: 0 0 15rem;

		padding: 20px;
		box-sizing: border-box;
	}

	.copy {
		width: 100%;
		flex-grow: 1;
		background-color: #ccffcc;
	}

	.slider {
		width: 100%;
		flex: 0 0 20rem;
		background-color: #ffccff;
		padding-left: 50%;
		box-sizing: border-box;

		svg {
			transform: translateX(-50%);
		}

		.axis {
			path {
				display: none;
			}
			line {
				fill: none;
				stroke: $axis-color;
				stroke-width: 1px;
				shape-rendering: crispEdges;
			}
			text {
				fill: $axis-color;
			}
		}

		.extent {
			stroke: $axis-color;
			fill: rgba($background-color, 0.25);
		}
	}

	.slider-background {
		fill: rgba($axis-color, 0.5);
	}

	.graph {
		flex-grow: 1;
		height: 100%;

		background-color: $background-color;

		svg {
			pointer-events: none;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: $axis-color;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}

		.axis text {
			fill: $axis-color;
		}

		.name {
			z-index: 1;
			&.highlighted {
				z-index: 2;

				circle {
					fill-opacity: 0.25;
					stroke-opacity: 0.5;

					&.top-rank {
						stroke-width: 2px;
						fill-opacity: 0.5;
						stroke-opacity: 1.0;
					}
				}
			}

			&.f {
				stroke: $stroke-color-female;
				fill: $text-color-female;

				&.highlighted {
					circle {
						fill: $stroke-color-female;
					}
				}
			}

			&.m {
				stroke: $stroke-color-male;
				fill: $text-color-male;

				&.highlighted {
					circle {
						fill: $stroke-color-male;
					}
				}
			}

			line {
				stroke-opacity: 1.0;
			}

			text {
				stroke: none;
				text-anchor: middle;
				font-weight: normal;

				pointer-events: auto;
				cursor: pointer;
	            user-select: none;
				&::selection {
				    background: none;
				}
			}

			circle {
				fill: #000000;
				fill-opacity: 0.0;
				stroke-width: 1px;

				pointer-events: auto;
				cursor: pointer;
			}

		}

		.selection-label {
			text {
				fill: $label-color;
			}
			tspan:nth-child(2) {
				font-size: smaller;
			}
		}

		.selection-line {
			stroke: $label-color;
			stroke-opacity: 0.5;
		}

		.year-tick {
			text {
				font-size: 1.16em;
				text-anchor: middle;
			}
		}
	}

}
